@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,600;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;

}

.upper {
    background-color: #a99985;
    display: flex;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 5px;


}

.upper ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.logo i {
    color: black;
}

ul li {
    list-style: none;
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
    margin: 1vw;
}

.upper a {
    color: red;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #70798c;
    border: 5px solid black;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 21vw;
}

.upper a:hover {
    background-color: #f5f1ed;
}

.content {
    height: 150vh;
    display: flex;
    flex-direction: column;
    background-image: url(back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.conbor {
    background-color: black;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 64vh;
    width: 49vw;
    border: 5px solid orange;
    border-radius: 20px;
}

#footer {
    background-color: black;
    display: flex;
    height: 20vh;
    padding: 20px;
    justify-content: center;
}

#footer h5 {
    color: white;
}

#footer a {
    color: red;
}

.container-fluid {
    width: 400px;
    margin: 60px auto;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.inputs {
    padding: 2rem 0 2rem 0;
    text-align: center;
    justify-content: center;
    background: #EAC696;
    border: 5px solid #65451F;
    border-radius: 20px;
}

.inputs input[type="text"] {
    color: #65451F;
    height: 4rem;
    width: 20rem;
    background: #212121;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #765827;
    border-radius: 10px;
    margin-right: 4px;
}

.inputs input[type="submit"] {
    height: 3rem;
    width: 6rem;
    background: #0a67ca;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 2px;
}

.inputs input[type="submit"]:hover {
    background-color: blue;
}

.display {
    text-align: center;
    width: 400px;
    color: #16a864;
}

.wrapper {
    margin: 0 9rem;
    background-color: #F8F0E5;
    height: 45vh;
    margin: 50px auto;
    border-radius: 2px;
}

.wrapper h2 {
    padding: 5px 0;
    text-align: center;
    background: #0548b5;
    color: white;
    font-family: sans-serif;
}

.wrapper p {
    margin: 20px 50px;
    margin-right: 20px;
    text-align: left;
    color: #04214c;
    font-size: 23px;
}

.wrapper h2 span {
    font-size: 26px;
    color: #9beefb;
}

.wrapper p span {
    color: #f4780d;
    font-size: 25px;
}

.temps {
    background-color: red;
    width: 20vw;
}





.box {
    color: #fff;
    padding: 1em;
    text-align: center;
    background-color: yellow;
    border: 5px solid black;
    border-radius: 10px;
}

.box h2 {
    color: white;
    font-weight: 600;
    background-color: black;
    border: 5px solid red;
    border-radius: 5rem;
}

.box p {
    color: black;
    font-size: 1.5em;
}

.Temp {
    background-color: #A2DED0;

}

.Wheather {
    background-color: #F4D03F;
}

.Sun {
    background-color: #6C7A89;
}

.Wind {
    background-color: #59ABE3;
}


.app-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50vh;
}

.aboutsec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 1.5em;
    margin: 10px 0 10px 0;
    background-color: #EAC696;
}